.rw-conversation-container .rw-header{background-color: #E64626;} 
.rw-launcher{background-color: #E64626;}
.rw-conversation-container .rw-sender .rw-send .rw-send-icon-ready{fill:#E64626;}
.rw-conversation-container .rw-messages-container .rw-message .rw-client{background-color: #E64626;}