.LinkInput{
    height: 100px;
    margin-left: 15px;
    margin-top: 15px;
    background: #eee;
    border-radius: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
    outline: none;
    word-break: break-word;
    resize: none;
}
