.LabelForChooseMethod{
    padding-left: 15px;
    padding-top: 12px;
}

.SelectForChooseMethod{
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 10px;
    width: 200px;
    height: 40px;
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 15px;
    background:url("https://image.flaticon.com/icons/png/512/318/318426.png")  90% / 10% no-repeat #eee;
}

.MethodContent{
    background: #eee;
    border-radius: 15px;
}

.SelectForChooseMethod:hover{
    display: block;
    background:url("https://image.flaticon.com/icons/png/512/318/318426.png")  90% / 10% no-repeat;
    cursor: pointer;
}

.Line {
    margin-top: 20px;
}

.LinkInput{
    width: 250px;
    height: 40px;
    margin-left: 15px;
    margin-top: 15px;
    background: #eee;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
}

.OfflineContainer{
    margin-left: 15px;
    margin-top: 15px;
}
